<?xml version="1.0"?>
<model>
  <name>Glider</name>
  <version>1.0</version>
  <sdf version='1.5'>glider.sdf</sdf>

  <license>Apache 2.0</license>
  <url type="website">https://github.com/ethz-asl/rotors_simulator</url>
  <author email="pvechersky@gmail.com">Pavel Vechersky</author>
  <author email="jaeyoung@auterion.com">Jaeyoung Lim</author>

  <description>
    This is a modified Techpod UAV model from ethz-asl/rotors_simulator to simulate gliders
  </description>
</model>
